<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace - 인터페이스에 있는 패키지 명 + 인터페이스 명 -->
<mapper namespace="com.bitcamp.pc.member.dao.UserDaoInterface">
	<insert id="insertUser" parameterType="userVO">
	
		insert into user (userid, username, userpw, userphone, userbirth)
		values (#{userId}, #{userName}, #{userPw}, #{userPhone}, #{userBirth})

	</insert>

	<select id="loginUser" resultType="userVO">

		select * from user where userid = #{userId}

	</select>

	<select id="searchId" parameterType="userVO" resultType="userVO">

		select * from user where userphone = #{userPhone}

	</select>

	<select id="searchPw" parameterType="userVO" resultType="userVO">

		select * from user where userid = #{userId}

	</select>


	<select id="getMyPage" resultType="userVO">

		select * from user where userid = #{userId}
	</select>

	<update id="editUser" parameterType="userVO">

		update user set userpw = #{userPw}, username = #{userName}, userphone =
		#{userPhone}, userbirth = #{userBirth}
		where userid = #{userId}

	</update>

	<delete id="deleteUser">
		delete from user where userid = #{userId}

	</delete>
	
	<!-- 주문 테이블 정보 저장 -->
	<insert id="insertOrder" parameterType="orderVO">
		insert into order (orderid, comid, userid)
		values (#{orderid}, #{comid}, #{userid})

	</insert>
	
	<!-- 주문 리스트 테이블 정보 저장 -->
	<insert id="insertOrderList" parameterType="orderListVo">
		insert into order (orderid, foodid, foodname, foodcnt)
		values (#{orderid}, #{foodid}, #{foodname}, #{foodcnt})
	</insert>
	
</mapper>